<?xml version="1.0" encoding="UTF-8"?>
<!-- Evita que Logback imprima los mensajes DEBUG de Spring en la consola -->
<configuration>
    <appender name="CONSOLA" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="CONSOLA"/>
    </root>
</configuration>
